body{
    background:
    url(https://images.unsplash.com/photo-1501769214405-5e5ee5125a02?ixlib=rb-1.2.1&auto=format&fit=crop&w=796&q=80);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   display: block;
   max-width: 100%;
   height: auto;
   color: whitesmoke;
   border: 0px solid white;
   text-align: center;
   font-size: 1.2rem;
   font-family: 'Helvetica';
   max-height: 100%;
   background-attachment: fixed;
}

h1{
    color: #363836;
    font: bold;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

p { 
    color: #363836;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.cuadroTexto {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    width: 250px;
    height: 80px;
}

.llave {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    width: 80px;
    height: 30px;
}

.button {
    background: #545854;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 400;
    font-size: 25px;
    font-family: ;
    padding-bottom: 10px;
    color: whitesmoke;
    width: 180px;
    height: 40px;
} 

.button:hover {
    background-color:#232723;
}

